{# empty Twig template #}

<table border="2">
    {% for value in result %}
        <tr>
           <td> {{ value.libelle }} </td>  
            <td> {{ value.effectif }} </td> 
        </tr>
    {% endfor %}
</table>
    
