{# empty Twig template #}

<table border="2">
    {% for value in result %}
        <tr>
            <td> {{ value.specialite.libelle }} </td>
            <td> {{ value.nom }} </td>
            <td> {{ value.prenom }} </td>
        </tr>
    {% endfor %}
</table>
    
